/* Resetting margin and padding, centering the elements on page */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

 /* Begin of: Stylings applied for the form */
.btn-open-dialog {
  background: #214001;
  color: whitesmoke;
  padding: 20px 30px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}


/* Add a grid to the form to make it semantically more accessible/appealing */
.form-book-entry {
  display: grid;
  grid-template: repeat(5, 300px) / 1fr;
  height: 400px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}
/* End of: Stylings applied for the form */

/* Start of: Styling for the bookshelf */
.bookshelf-container {
  display: flex;
  gap: 10px;
}
/* End of: Styling for the bookshelf */

/* Begin of: Styling the Cards which hold information about the book */
.infoCard {
  background: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 10px 0;
  font-family: Roboto;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoCard button {
  width: fit-content;
}

.infoCard p {
  margin: 0;
}

