/* Resetting margin and padding, centering the elements on page */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Start of: Styling for the library-container */
.library-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* End of: Styling for the library-container */

 /* Begin of: Stylings applied for the form */
.btn-open-dialog {
  background: #A62B1F;
  color: whitesmoke;
  padding: 20px 30px;
  margin-bottom: 25px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}

.btn-open-dialog:hover {
  background: #D96941;
}


/* Add a grid to the form to make it semantically more accessible/appealing */
.form-book-entry {
  display: grid;
  grid-template: repeat(5, 300px) / 1fr;
  height: 400px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}
/* End of: Stylings applied for the form */

/* Start of: Styling for the bookshelf */
.bookshelf-container {
  display: flex;
  gap: 10px;
  margin: 10px;
}
/* End of: Styling for the bookshelf */

/* Begin of: Styling the Cards which hold information about the book */
.infoCard {
  background: #214001;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.infoCard:hover {
  background: #2E5902;
}

.infoCard p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.infoCard p {
  color: #FFFFFF;
  font-family: Roboto;
}