/* Resetting margin and padding, centering the elements on page */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Styling the button which opens the dialog */
.btn-open-dialog {
  background: #5e5e5e;
  color: whitesmoke;
  padding: 20px 30px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}

.btn-open-dialog:hover {
  background: #808080;
}

.infoCard {
  background: whitesmoke;
  border: 2px solid black;
  margin: 10px 0;
}